.color-product-collection {
  display: flex;
  column-gap: 12px;

  li:nth-child(1) {
    //background: #44FF03;
  }

  li:nth-child(2) {
    //background: #2B2B2B;
  }

  li:nth-child(3) {
    //background: #0F6450;
  }

  li {
    border: 0 solid;
    width: 16px;
    height: 16px;
  }
  .backgroundBlack {
    border: 3px solid #5ECE7B;
  }
}
