.product-card {
  padding: 16px 16px 0 16px;

  .content {
    display: grid;
    align-items: start;
  }

  &:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  }

  .title {
    font-family: Raleway-Light, serif;
    font-weight: 300;
  }

  .price {
    font-family: Raleway-Medium, serif;
    font-weight: 500;
    display: flex;
  }
}
