.dropdown-container {
  display: grid;
  align-self: center;

  .basket-vector {
    font-family: Raleway-Medium, serif;
    font-weight: 400;
    display: flex;

    .basket, .vector {
      &:hover {
        cursor: pointer
      }
    }

    div {
      &:first-child img {
        margin: 0 10px;
      }

      &:last-child img {
        margin: 0 22px;
      }
    }
  }
}
